<% include header %>

<div id='map' style='width: 1600px; height: 900px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYnJhbm1hbnR3byIsImEiOiJjaXVleHU2c3gwMGNqMm5ueWhqdHM2bzU0In0.Yjvmub_TJiDuCBjlpfV75w';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/branmantwo/ciuexw0s6006m2imv0evw3u9j'
});
</script>

<% include footer %>