<% include header %>

    <style>
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    </style>

<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYnJhbm1hbnR3byIsImEiOiJjaXVleHU2c3gwMGNqMm5ueWhqdHM2bzU0In0.Yjvmub_TJiDuCBjlpfV75w';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/branmantwo/cj04gl8ah004k2rrrfjo66hpw'
});

// Store an array of circle-color ramps for data-driven styles
var lineList = [
    [red, '#FF0000'],
    [green, '#00FF00'],
    [blue, '#0000FF']
];

// Update the layer
map.on('load', function () {    
    map.addLayer({
        'id': 'stations_lines',
        'type': 'circle',
        'source': {
            type: 'vector',
            url: 'mapbox://branmantwo.cj04g7jtg0frr33qrw6d89e6x-4j8sn' //Your Mapbox tileset Map ID
        },
        'source-layer': 'stations', //name of tileset
        'paint': {
        //Add data-driven styles for circle-color
        'circle-color': {
            property: 'line',
           // type: 'interval',
            type: 'categorical',
            stops: lineList
        },
        //Add data-driven styles for circle radius
        'circle-radius': 10,
        'circle-opacity': 0.8
        }
    });
});
</script>

<% include footer %>