<% include header %>

    <style>
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    </style>

<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYnJhbm1hbnR3byIsImEiOiJjaXVleHU2c3gwMGNqMm5ueWhqdHM2bzU0In0.Yjvmub_TJiDuCBjlpfV75w';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/branmantwo/cj075ufqp00672slfsgd4vufk'
});

// Store an array of circle-color ramps for data-driven styles
var percentList = [
    ['red', '#FF0000'],
    ['green', '#00FF00'],
    ['blue', '#0000FF']
];

// Update the layer
map.on('load', function () {    
    map.addLayer({
        'id': 'AssessedValuesV1',
        'type': 'circle',
        'source': {
            type: 'vector',
            url: 'mapbox://branmantwo.cj075jpzr0q2r33p3kwxfynjg-1l2im' //Your Mapbox tileset Map ID
        },
        'source-layer': 'AssessedValuesV1', //name of tileset
        'paint': {
        //Add data-driven styles for circle-color
        'circle-color': {
            property: '2017_totalPercent',
            type: 'exponential',
            "stops": [
                [95, "#ff4e00"],
                [100, "#eace28"],
                [105, "#ffffff"],
                [110, "#43aaf7"],
                [115, "#1129d3"]
            ]
        },
        //Add data-driven styles for circle radius
        'circle-radius': 10,
        'circle-opacity': 0.8
        }
    });
});
</script>

<% include footer %>