<% include header %>

    <style>
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    </style>

<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYnJhbm1hbnR3byIsImEiOiJjaXVleHU2c3gwMGNqMm5ueWhqdHM2bzU0In0.Yjvmub_TJiDuCBjlpfV75w';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/branmantwo/cj075ufqp00672slfsgd4vufk',
    center: [-96.681427, 40.807022],
    zoom: 11
});



// Update the layer
map.on('load', function () {    
    map.addLayer({
        'id': 'AssessedValuesV1',
        'type': 'circle',
        'source': {
            type: 'vector',
            url: 'mapbox://branmantwo.cj075jpzr0q2r33p3kwxfynjg-1l2im' //Your Mapbox tileset Map ID
        },
        'source-layer': 'AssessedValuesV1', //name of tileset
        'paint': {
        //Add data-driven styles for circle-color
        'circle-color': {
            property: 'i2017_totalPercent',
            type: 'exponential',
            "stops": [
                [0   , "#21444F"]
                [95  , "#21444F"],
                [100 , "#344C5D"],
                [105 , "#4A526A"],
                [110 , "#625875"],
                [115 , "#7C5D7C"],
                [120 , "#96617F"],
                [125 , "#AF667F"],
                [130 , "#C56C7B"],
                [135 , "#D87575"],
                [140 , "#E7806D"],
                [999 , "#E7806D"]
            ]
        },
        //Add data-driven styles for circle radius
        'circle-radius': 100,
        'circle-opacity': 0.2
        }
    });
});
</script>

<% include footer %>